/* width: 320px */
:root {
    --azul-oscuro: #040017;
    --azul-claro: #0D0764;
    --rojo-oscuro: #180004;
    --rojo-claro: #4E0001;
    --morado-oscuro: #2F0F3E;
    --morado-claro: #53006F;
    --amarillo: #d89300;
    --amarillo-blanco: #d0a947;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: "Source Sans Pro", sans-serif;
}
body {
    background-color: var(--azul-oscuro);
    height: 2006px;
}
header {
    position: relative;
}
header h1 {
    color: var(--amarillo);
    margin: 15px 0px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
}
header img {
    display: block;
    margin: 110px auto;
    min-width: 320px;
    width: 100%;
    max-width: 432px;
    min-height: 250px;
    height: calc(width - 102px);
}
.main_text {
    position: relative;
}
.main_text .text_2 {
    color: white;
    margin: 0 auto;
    text-align: center;
    max-width: 350px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.3rem;
    background: rgba(0, 0, 0, 0.747);
    box-shadow: -7px 0px 110px 8px rgb(222 209 31);
    border-radius: 9px;
    padding: 14px;
}
/* .main_text .text_2 .background {
    display: flex;
    width: 320px;
    height: 155px;
    background-color: var(--rojo-claro);
    opacity: 100%;
} */
.main_text .images {
    display: flex;
    flex-wrap: wrap;
}
.main_text .images .img_evento_1 {
    margin-top: 121px;
    margin-left: 12px;
    border-radius: 27px;
    width: 264px;
    height: 227px;
}
.main_text .images .img_evento_2 {
    margin-top: 121px;
    margin-left: 36px;
    border-radius: 27px;
    width: 273px;
    height: 227px;
}
.main_text .text_3 {
    color: white;
    margin: 130px auto;
    text-align: center;
    max-width: 350px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.3rem;
    background: rgba(0, 0, 0, 0.747);
    box-shadow: -7px 0px 110px 8px rgb(222 209 31);
    border-radius: 9px;
    padding: 14px;
}
.main_text .img_evento_3 {
    position: absolute;
    left: calc(50% - 153px);
    margin-bottom: 40px;
    border-radius: 27px;
    width: 304px;
    height: 170px;
}
footer {
    display: inline-flex;
    width: 100%;
    position: absolute;
    top: 1925px;
    justify-content: center;
}
footer div a {
    width: 55px;
    height: 55px;
}
footer .icon {
    margin: 0 20px;
}
footer .r_experiencia {
    background-image: url('../styles/assets/icons/check-square.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 41px;
    height: 55px;
}
footer .r_home {
    background-image: url('../styles/assets/icons/home.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 41px;
    height: 55px;
}
footer .r_mariachi {
    background-image: url('../styles/assets/icons/mariachi.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 41px;
    height: 55px;
}