/* width: 1280px */
main #identidad {
    left: calc(50% - 368px);
}
main #experiencia .exp-texto {
    margin-top: 76px;
    margin-left: 51px;
    width: 190px;
}
main #experiencia .img-experiencia {
    top: calc(30% - 29px);
    left: calc(65% - 56px);
    width: 16vw;
    max-width: 364.2px;
    height: 277px;
}
main #clientes {
    left: 45px;
}
main #clientes .rancho {
    width: 31vw;
    max-width: 426.55px;
    height: 326px;
    top: 57px;
    left: 50px;
}