/* width: 600px */
header .img-header {
    top: 70px;
    min-height: 546px;
    min-width: 600px;
    left: calc(50% - 300px);
    border-radius: 25px;
}
main {
    left: 5px;
}
main #identidad {
    margin: 86px 6px;
    max-width: 772px;
}
main #identidad h1 {
    margin-top: 43px;
    left: calc(50% - 195px);
    font-size: 4rem;
    line-height: 4rem;
}
main #identidad .texto {
    left: calc(50% - -26px);
    top: 40px;
}
main #identidad .img-identidad {
    left: 14px;
    top: calc(55% - 58px);
    height: 251px;
}
main #experiencia .exp-texto {
    width: 205px;
    margin-top: 70px;
}
main #experiencia .img-experiencia {
    top: calc(30% - 77px);
    left: calc(65% - 108px);
    width: 50vw;
    height: 381px;
}
main #clientes {
    left: 92px;
    max-width: 410.7px;
}