/* width: 600px */
header .img-header {
    top: 2px;
    min-height: 546px;
    min-width: 600px;
    left: calc(50% - 300px);
    border-radius: 25px;
}
main {
    left: 5px;
}
main #quienes {
    margin-top: 193px;
}
main #imgs_contain .texto {
    top: 280px;
    left: calc(50% - 115px);
}
main #img_1 {
    margin-top: 455px;
    height: 633px;
}
main #imgs_contain .texto2 {
    left: calc(55% - 144px);
    top: 1131px;
    height: 251px;
}
main #experiencia .exp-texto {
    width: 205px;
    margin-top: 70px;
}
main #experiencia .img-experiencia {
    top: calc(30% - 77px);
    left: calc(65% - 108px);
    width: 50vw;
    height: 381px;
}
main #clientes {
    left: calc(50% - 190px);
    max-width: 410.7px;
}